$types: "primary", "warning", "success", "danger", "info";
@mixin get-btn($type) {
  &:hover {
    background-color: var(--k-bg-color-#{$type}-light-3);
    border-color: var(--k-border-color-#{$type}-light-3);
    color: var(--k-color-white);
  }
  &.is-disabled {
    cursor: not-allowed;
    color: var(--k-color-white);
    opacity: 0.8;
    background-color: var(--k-bg-color-#{$type}-light-3);
    border-color: var(--k-border-color-#{$type}-light-3);
  }
}
@mixin get-plain-btn($type) {
  &:hover {
    color: var(--k-color-white);
    background-color: var(--k-bg-color-#{$type});
    border-color: var(--k-border-color-#{$type});
  }
  &.is-disabled {
    cursor: not-allowed;
    color: var(--k-color-#{$type});
    background-color: var(--k-bg-color-#{$type}-light-9);
    opacity: 0.8;
    border-color: var(--k-border-color-#{$type}-light-6);
  }
}

.k-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--k-bg-color-white);
  border: 1px solid var(--k-border-color-info);
  color: var(--k-color-info);
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  .k-icon + span {
    margin-left: 8px;
  }
  &:hover {
    color: var(--k-color-primary);
    border-color: var(--k-border-color-primary-light-6);
    background-color: var(--k-bg-color-primary-light-9);
  }
  // cursor: not-allowed和pointer-events: none;是为了禁用按钮时的样式，不会出现圆圈，但可组织hover事件
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.8;
    border-color: var(--k-border-color-info);
  }
  &.is-plain {
    &:hover {
      color: var(--k-color-primary);
      background-color: var(--k-bg-color-white);
      border-color: var(--k-border-color-primary);
    }
    &.is-disabled {
      cursor: not-allowed;
      opacity: 0.8;
      border-color: var(--k-border-color-info);
      &:hover {
        cursor: not-allowed;
        opacity: 0.8;
        border-color: var(--k-border-color-info);
      }
    }
  }
  @each $type in $types {
    &--#{$type} {
      color: var(--k-color-white);
      background-color: var(--k-bg-color-#{$type});
      border-color: var(--k-border-color-#{$type});
      @include get-btn($type: $type);
      &.is-plain {
        color: var(--k-color-#{$type});
        background-color: var(--k-bg-color-#{$type}-light-9);
        border-color: var(--k-border-color-#{$type});
        @include get-plain-btn($type);
      }
    }
  }
  &.is-round {
    border-radius: 20px;
  }
  &.is-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
  }
  // &--large {
  //   padding: 16px 30px;
  //   font-size: 16px;
  // }
  // &--small {
  //   padding: 8px 12px;
  //   font-size: 12px;
  // }
}
