:root {
  --k-color-primary: #4096ff;
  --k-color-white: #ffffff;
  --k-color-success: #73d13d;
  --k-color-danger: #ff4d4f;
  --k-color-warning: #ffc53d;
  --k-color-info: #8c8c8c;
  --k-color-primary-light-3: #91caff;
  --k-color-primary-light-6: #bae0ff;
  --k-color-primary-light-9: #e6f4ff;
  --k-color-success-light-3: #b7eb8f;
  --k-color-success-light-6: #d9f7be;
  --k-color-success-light-9: #f6ffed;
  --k-color-danger-light-3: #ffa39e;
  --k-color-danger-light-6: #ffccc7;
  --k-color-danger-light-9: #fff1f0;
  --k-color-warning-light-3: #ffe58f;
  --k-color-warning-light-6: #fff1b8;
  --k-color-warning-light-9: #fffbe6;
  --k-color-info-light-3: #d9d9d9;
  --k-color-info-light-6: #f0f0f0;
  --k-color-info-light-9: #f5f5f5;

  --k-bg-color-primary: #4096ff;
  --k-bg-color-white: #ffffff;
  --k-bg-color-success: #73d13d;
  --k-bg-color-danger: #ff4d4f;
  --k-bg-color-warning: #ffc53d;
  --k-bg-color-info: #8c8c8c;
  --k-bg-color-primary-light-3: #91caff;
  --k-bg-color-primary-light-6: #bae0ff;
  --k-bg-color-primary-light-9: #e6f4ff;
  --k-bg-color-success-light-3: #b7eb8f;
  --k-bg-color-success-light-6: #d9f7be;
  --k-bg-color-success-light-9: #f6ffed;
  --k-bg-color-danger-light-3: #ffa39e;
  --k-bg-color-danger-light-6: #ffccc7;
  --k-bg-color-danger-light-9: #fff1f0;
  --k-bg-color-warning-light-3: #ffe58f;
  --k-bg-color-warning-light-6: #fff1b8;
  --k-bg-color-warning-light-9: #fffbe6;
  --k-bg-color-info-light-3: #d9d9d9;
  --k-bg-color-info-light-6: #f0f0f0;
  --k-bg-color-info-light-9: #f5f5f5;

  --k-border-color: #eee;
  --k-border-color-primary: #4096ff;
  --k-border-color-success: #73d13d;
  --k-border-color-danger: #ff4d4f;
  --k-border-color-warning: #ffc53d;
  --k-border-color-info: #8c8c8c;
  --k-border-color-primary-light-3: #91caff;
  --k-border-color-primary-light-6: #bae0ff;
  --k-border-color-primary-light-9: #e6f4ff;
  --k-border-color-success-light-3: #b7eb8f;
  --k-border-color-success-light-6: #d9f7be;
  --k-border-color-success-light-9: #d8ebdb;
  --k-border-color-danger-light-3: #ffa39e;
  --k-border-color-danger-light-6: #ffccc7;
  --k-border-color-danger-light-9: #fff1f0;
  --k-border-color-warning-light-3: #ffe58f;
  --k-border-color-warning-light-6: #fff1b8;
  --k-border-color-warning-light-9: #f3ebd6;
  --k-border-color-info-light-3: #d9d9d9;
  --k-borderbg-color-info-light-6: #f0f0f0;
  --k-border-color-info-light-9: #f5f5f5;

  --k-collapse-line-height: 48px;
  --k-collapse-height: 48px;
  --k-collapse-header-padding: 0 10px;
  --k-collapse-content-padding: 0 10px;
  --k-collapse-header-height: 48px;
  --k-collapse-header-line-height: 48px;
  --k-collapse-content-height: 48px;
  --k-collapse-content-line-height: 48px;

  --k-tooltip-bg-color: #333;
  --k-tooltip-padding: 10px;
}
