:root {
  --k-color-primary: #007bff;
  --k-color-white: #ffffff;
  --k-color-success: #1fb341;
  --k-color-danger: #dc3545;
  --k-color-warning: #e1ab07;
  --k-color-info: #8a8b8b;
  --k-color-primary-light-3: #2990fe;
  --k-color-primary-light-6: #8ac2fe;
  --k-color-primary-light-9: #e7f0f9;
  --k-color-success-light-3: #309b49;
  --k-color-success-light-6: #acd3b5;
  --k-color-success-light-9: #9ea8a0;
  --k-color-danger-light-3: #e15664;
  --k-color-danger-light-6: #d5a3a8;
  --k-color-danger-light-9: #d2c8c9;
  --k-color-warning-light-3: #e2bf57;
  --k-color-warning-light-6: #edd99f;
  --k-color-warning-light-9: #eeebe3;
  --k-color-info-light-3: #9c9c9c;
  --k-color-info-light-6: #d2d1d1;
  --k-color-info-light-9: #e5e5e5;

  --k-bg-color-primary: #007bff;
  --k-bg-color-white: #ffffff;
  --k-bg-color-success: #1fb341;
  --k-bg-color-danger: #dc3545;
  --k-bg-color-warning: #e1ab07;
  --k-bg-color-info: #8a8b8b;
  --k-bg-color-primary-light-3: #2990fe;
  --k-bg-color-primary-light-6: #8ac2fe;
  --k-bg-color-primary-light-9: #e7f0f9;
  --k-bg-color-success-light-3: #309b49;
  --k-bg-color-success-light-6: #68a576;
  --k-bg-color-success-light-9: #d8ebdb;
  --k-bg-color-danger-light-3: #e15664;
  --k-bg-color-danger-light-6: #d5a3a8;
  --k-bg-color-danger-light-9: #e4d2d4;
  --k-bg-color-warning-light-3: #e2bf57;
  --k-bg-color-warning-light-6: #c0b28a;
  --k-bg-color-warning-light-9: #f3ebd6;
  --k-bg-color-info-light-3: #9c9c9c;
  --k-bg-color-info-light-6: #d2d1d1;
  --k-bg-color-info-light-9: #f1f0f0;

  --k-border-color: #eee;
  --k-border-color-primary: #007bff;
  --k-border-color-success: #1fb341;
  --k-border-color-danger: #dc3545;
  --k-border-color-warning: #e1ab07;
  --k-border-color-info: #8a8b8b;
  --k-border-color-primary-light-3: #2990fe;
  --k-border-color-primary-light-6: #8ac2fe;
  --k-border-color-primary-light-9: #e7f0f9;
  --k-border-color-success-light-3: #309b49;
  --k-border-color-success-light-6: #68a576;
  --k-border-color-success-light-9: #d8ebdb;
  --k-border-color-danger-light-3: #e15664;
  --k-border-color-danger-light-6: #d5a3a8;
  --k-border-color-danger-light-9: #e4d2d4;
  --k-border-color-warning-light-3: #e2bf57;
  --k-border-color-warning-light-6: #c0b28a;
  --k-border-color-warning-light-9: #f3ebd6;
  --k-border-color-info-light-3: #9c9c9c;
  --k-borderbg-color-info-light-6: #d2d1d1;
  --k-border-color-info-light-9: #f1f0f0;

  --k-collapse-line-height: 48px;
  --k-collapse-height: 48px;
  --k-collapse-header-padding: 0 10px;
  --k-collapse-content-padding: 0 10px;
  --k-collapse-header-height: 48px;
  --k-collapse-header-line-height: 48px;
  --k-collapse-content-height: 48px;
  --k-collapse-content-line-height: 48px;

  --k-tooltip-bg-color: #333;
  --k-tooltip-padding: 10px;
}
