.k-message {
  width: max-content;
  position: fixed;
  left: 50%;
  height: 45px;
  padding: 0 10px;
  gap: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  transform: translateX(-50%);
  &--primary {
    color: var(--k-color-primary);
    background-color: var(--k-bg-color-primary-light-9);
    border: 1px solid var(--k-border-color-primary-light-6);
  }
  &--success {
    color: var(--k-color-success);
    background-color: var(--k-bg-color-success-light-9);
    border: 1px solid var(--k-border-color-success-light-6);
  }
  &--warning {
    color: var(--k-color-warning);
    background-color: var(--k-bg-color-warning-light-9);
    border: 1px solid var(--k-border-color-warning-light-6);
  }
  &--danger {
    color: var(--k-color-danger);
    background-color: var(--k-bg-color-danger-light-9);
    border: 1px solid var(--k-border-color-danger-light-6);
  }
  &__close {
    cursor: pointer;
  }
}
